<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AddHuman</title>
</head>
<body>

<form th:method="POST" th:action="@{/human/add}" th:object="${human}">

    <label for="fio">Enter Surname Name Patronymic: </label>
    <input type="text" id="fio" th:field="${human.fio}"/>
    <div style="color: red" th:if="${#fields.hasErrors('fio')}" th:errros="${human.fio}">Some error text</div>
    <br/>
    <label for="year_of_birth">Enter year of birth: </label>
    <input type="text" id="year_of_birth" th:field="${human.year_of_birth}"/>
    <div style="color: red" th:if="${#fields.hasErrors('year_of_birth')}" th:errros="${human.year_of_birth}">Some error text</div>

    <br/>
    <input type="submit" value="Send!"/>
</form>

</body>
</html>